%section#project.slide
  %h2 Kleines Projekt
  %ol
    %li#project-fork.slide
      Forken des Projektes von
      %pre
        %code https://github.com/ThunderKey/GitTutorial 
    %li#project-clone.slide
      Klonen des Projektes
    %li#project-show.slide
      Zeig uns den Stand
    %li#project-create.slide
      Erstellen von TestProjekt
    %li#project-add.slide
      Hinzuf&uuml;gen von README
    %li#project-show2.slide
      Zeig uns den Stand auf GitHub
